<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <meta charset="UTF-8">
    <title>Редактировать договор</title>
</head>
<body>
<a href="{% url 'contract_list' %}">Назад к списку</a>
    <h1>Редактировать договор</h1>
    <form method="post">
        {% csrf_token %}
        <label for="monthly_fee">Ежемесячная плата:</label><br>
        <input type="text" name="monthly_fee" id="monthly_fee" value="{{ contract.monthly_fee }}"  required><br>

        <label for="effective_date">Срок начала действия:</label><br>
        <input type="date" name="effective_date" id="effective_date" value="{{ contract.effective_date }}" required><br>

        <label for="expiry_date">Срок окончания действия:</label><br>
        <input type="date" name="expiry_date" id="expiry_date" value="{{ contract.expiry_date }}"  required><br>

        <label for="client">Клиент:</label><br>
        <select name="client" id="client" required>
            <option value="" disabled selected>Выберите клиента</option>
            {% for client in clients %}
                <option value="{{ client }}">{{ client }}</option>
            {% endfor %}
        </select><br>

        <button type="submit">Сохранить</button>
    </form>
</body>
</html>